<footer class="footer pt-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          © {{now}},
          hecho con <i class="fa fa-heart"></i> por
          <a href="#" class="font-weight-bold" target="_blank">Chris Castro</a>
          en un santiamen.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</footer>