<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4  class="text-gradient text-primary text-gradient font-weight-bold text-uppercase">Editar Información de usuario</h4>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nombre-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.name" id="nombre-name">
            </div>
            <div class="form-group">
              <label for="nombre-name" class="col-form-label">Apellido:</label>
              <input type="text" class="form-control" name="apellido" [(ngModel)]="usuario.lastname" id="nombre-lastname">
            </div>
            <div class="form-group">
              <label for="nombre-name" class="col-form-label">Email:</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="usuario.email" id="nombre-email">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
</div>