<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modal-info" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4  class="text-gradient text-info text-gradient font-weight-bold text-uppercase">Información de usuario</h4>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item">Nombre: <b>{{ usuario?.name }}</b></li>
            <li class="list-group-item">Apellido: <b>{{ usuario?.lastname }}</b></li>
            <li class="list-group-item">Email: <b>{{ usuario?.email }}</b></li>
            <li class="list-group-item">Fecha de Creación: <b>{{ usuario?.createdAt }}</b></li>
            <li class="list-group-item"></li>
         </ul>

          <hr>
            <ng-container *ngIf="usuario!=undefined">
                <div *ngIf="usuario.roles">
                  <h6  class="text-gradient text-info text-dark font-weight-bold text-uppercase">Roles: </h6> 
                    <ng-container *ngFor="let rol of usuario.roles">
                        <span  class="badge bg-gradient-dark badge-md badge-pill mb-1"> {{ rol.rol }}</span>
                        <br>
                    </ng-container>                 
                </div>
            </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link bg-gradient-info ml-auto" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>